.content{
    margin-top: 80px;
}
.right-side{
    margin-left: 50px;
    background-color:blueviolet;
    padding-left: 50px;
    height: 450px;
    border-radius: 20px;

}
.left-side{
    background-color: aqua;
    padding-left: 50px;
    padding-right: 20px;
    height: 450px;
    border-radius: 20px;
    
}

